# Google OAuth Client
GOOGLE_CLIENT_ID="設定してください"
GOOGLE_CLIENT_SECRET="設定してください"

# Github OAuth Client
GITHUB_CLIENT_ID="設定してください"
GITHUB_CLIENT_SECRET="設定してください"

# フェーズ3までは.envの設定でバックログにアクセスする。
BACKLOG_SPACE_URL="設定してください"
BACKLOG_API_KEY="設定してください"
# プロジェクトキーをカンマ区切りで設定
BACKLOG_PROJECT_KEYS="設定してください"

# Supabase 設定
SUPABASE_URL="設定してください"
SUPABASE_ANON_KEY="設定してください"
